body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app--container {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
